<%- include('header.ejs') %>

<div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="card p-4 shadow-lg w-50">
        <h1 class="text-center mb-4">Login</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%=email%>">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p class="mt-2 text-danger"><%= error %></p>
        </form>
    </div>
</div>
<%- include('footer.ejs') %>